{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <p>Postet av: assev</p>
      <small class="text-muted">01-05-2020</small>
    </div>
    <h2>Netcat</h2>
    <p class="article-content">Netcat er et av mine favoritt verktøy! Du kan gjøre omtrent alt med netcat! Visste du at jeg til og med skrev denne bloggen med netcat?</p>
  </div>
</article>
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <p>Postet av: assev</p>
      <small class="text-muted">01-04-2020</small>
    </div>
    <h2>hashcat</h2>
    <p class="article-content">Hashcat er et verktøy som lar det knekke passord hasher veldig raskt! Det støtter også å bruke skjermkort, forskjellige regelsett for å endre et ordboksangrep og mye mer! Du kan også bruke reglene for å opprette egne ordbøker som kan brukes til andre typer angrep! Et eksempel på et slikt regelsett er unix-ninja-leetspeak</p>
  </div>
</article>
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <p>Postet av: assev</p>
      <small class="text-muted">01-03-2020</small>
    </div>
    <h2>Scytale kryptering!</h2>
    <p class="article-content">Scytale er enda en gammel krypterinsform fra de gamle Grekerne! Her surret vi papirus rundt en pinne som skiftet tegnsettet. Klarer du å dekryptere følgende tekst?<br>"<code>Segnedtv kric ssteeibj kyeåktkrsaetktr e re rneea g åy denknloal phu en </code>"</p>
  </div>
</article>
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <p>Postet av: assev</p>
      <small class="text-muted">01-02-2020</small>
    </div>
    <h2>Caesar kryptering!</h2>
    <p class="article-content">Av og til er gamle metoder gode, andre ganger ikke fullt så gode.... Caesar kryptering fra Julius Caesar sin tid fungerte godt på sin tid, @</code>"</p>
  </div>
</article>
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <p>Postet av: assev</p>
      <small class="text-muted">01-01-2020</small>
    </div>
    <h2>Hei og velkommen!</h2>
    <p class="article-content">Proin pulvinar egestas dignissim. Duis ornare ultricies finibus. Curabitur turpis dui, dignissim ut placerat eu, varius eget orci. Phasellus lacinia odio metus. Donec risus neque, suscipit et ultricies in, aliquet vestibulum velit. Sed auctor pretium convallis. In hac habitasse platea dictumst. Sed molestie vel diam vel maximus. </p>
  </div>
</article>
{% endblock content %}
